@import '../../styles/variables.css';

/* ==========================================================================
   #COMMENT
   ========================================================================== */

.c-comment {
  margin-bottom: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
  border-bottom: var(--border-width-thin) solid var(--color-border);
}

.c-comment__content {
  padding: var(--spacing-xx-small) 0;
}
