/* ==========================================================================
   #LINE HEIGHT
   ========================================================================== */

:root {
  --line-height-button: 1.875rem;
  --line-height-reset: 1;
  --line-height-text: 1.5;
}
