/* ============================================================================
   #BORDER COLOR
   ========================================================================== */

:root {
  --color-border: #d8dde6;
  --color-border-button-default: #d8dde6;
  --color-border-input: #d8dde6;
  --color-border-input-active: #1589ee;
}
